.App {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
}
.cells {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #ccc;
}
